In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
from scipy import stats

In [2]:
df=pd.read_csv("comparaison_annees.csv")

In [3]:
df.head()

,2019,2020,2021,2022,Score2019,Score2020,Score2021,Score2022
0,Finland,Finland,Finland,Finland,7.769,7.8087,7.8421,7.8210
1,Denmark,Denmark,Denmark,Denmark,7.600,7.6456,7.6195,7.6362
2,Norway,Switzerland,Switzerland,Iceland,7.554,7.5599,7.5715,7.5575
3,Iceland,Iceland,Iceland,Switzerland,7.494,7.5045,7.5539,7.5116
4,Netherlands,Norway,Netherlands,Netherlands,7.488,7.4880,7.4640,7.4149

comparons les scores des années afin de voir les évolutions

évolution du score entre 2019 et 2020

In [ ]:
for pays in